.home {
    /* This was previously in the scoped style section */
    text-align: center;
  }
  
  .background-image {
    background-image: url('@/assets/src/assets/GolfHole3Update.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  h1 {
    font-family: 'Fugaz One', serif;
    font-weight: 400;
    color: #fcf400;
  }
  
  p {
    font-family: 'Sriracha', serif;
    font-weight: 400;
  }